@page
@model ProductMove_App.Pages.BaoCaoManager.LapBaoCaoModel
@{
}
<form method="post" enctype="multipart/form-data">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    <h2 style="text-align:center">Lập báo cáo</h2>
                    <br />
                    Chọn thời gian lập báo
                    <br />
                    <table>
                        <tr>
                            <th>
                                <input type="radio"
                                       id="thang"
                                       name="LoaiBaoCao"
                                       value="1"
                                       checked
                                       onclick="EnableDisableTB()" />
                                Lập báo cáo theo tháng
                            </th>
                            <th>
                                <select class="form-control" name="thang" id="thangtxt">
                                    <option value="checked">Chọn tháng</option>
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                            </th>
                            <th>
                                <input type="text"
                                       id="thang_txt"
                                       name="ThoiGian"
                                       placeholder="Nhập năm" />
                            </th>

                        </tr>
                        <tr>
                            <th>
                                <input type="radio"
                                       id="nam"
                                       name="LoaiBaoCao"
                                       value="2"
                                       onclick="EnableDisableTB()" />
                                Lập báo cáo theo năm
                            </th>
                            <th>
                                <input type="text"
                                       id="namtxt"
                                       name="ThoiGian"
                                       disabled="disabled"
                                       placeholder="Nhập năm" />
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <input type="radio"
                                       id="quy"
                                       name="LoaiBaoCao"
                                       value="3"
                                       onclick="EnableDisableTB()" />
                                Lập báo cáo theo quý
                            </th>
                            <th>
                                <select class="form-control" id="quy_txt" name="thang" disabled="disabled">
                                    <option value="checked">Chọn quý</option>
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                </select>
                            </th>
                            <th>
                                <input type="text"
                                       id="quytxt"
                                       name="ThoiGian"
                                       disabled="disabled"
                                       placeholder="Nhập năm" />
                            </th>
                        </tr>

                    </table>
                </th>
                <th>
                    <div class="row mb-3">
                        <input type="submit" value="Lập Báo Cáo" class="btn btn-primary" />
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</form>

<script type="text/javascript">
    function EnableDisableTB() {
        var thang = document.getElementById("thang");
        var nam = document.getElementById("nam");
        var quy = document.getElementById("quy");
        var thangtxt = document.getElementById("thangtxt");
        var namtxt = document.getElementById("namtxt");
        var quytxt = document.getElementById("quytxt");
        thangtxt.disabled = thang.checked ? false : true;
        thang_txt.disabled = thang.checked ? false : true;
        thang_txt.value = "";
        thangtxt.value = "";
        if (!thangtxt.disabled) {
            thangtxt.focus();
        }
        if (!thang_txt.disabled) {
            thang_txt.focus();
        }
        namtxt.disabled = nam.checked ? false : true;
        namtxt.value = "";
        if (!namtxt.disabled) {
            namtxt.focus();
        }
        quytxt.disabled = quy.checked ? false : true;
        quy_txt.disabled = quy.checked ? false : true;
        quy_txt.value = "";
        quytxt.value = "";
        if (!quytxt.disabled) {
            quytxt.focus();
        }
        if (!quy_txt.disabled) {
            quy_txt.focus();
        }
    }
</script>

