@page
@model ProductMove_App.Pages.LoaiSanPhamManager.IndexModel

@{
    ViewData["Title"] = "Index";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <meta charshet="utf-8" />
</head>

<body>
    <h2>Quản lý các loại sản phẩm đang được kinh doanh</h2>
    <div>
        <a class="btn btn-primary btn-sm" asp-page="./Create">Thêm mới một loại sản phẩm</a>
    </div>
    <br />
    <div>
        <table class="table table-striped table-bordered" id="myTable">
            <thead>
                <tr style="text-align:center">
                    <th>Tên loại sản phẩm</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="myTablee">
                @foreach (var item in Model.LoaiSanPham)
                {
                    <tr style="height:10px">
                        <td>@item.TenLoaiSanPham</td>
                        <td style="text-align: center; width: 200px">
                            <a class="btn btn-success btn-sm" asp-page="./Edit" asp-route-id="@item.IdLoaiSanPham">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a class="btn btn-info btn-sm" asp-page="./Details" asp-route-id="@item.IdLoaiSanPham">
                                <i class="bi bi-info-square-fill"></i>
                            </a>
                            <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-id="@item.IdLoaiSanPham">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
</body>